/* variables */
:root{ 
    --color-fondo: black;
    --max-width-display: 100%;
    --size-div-header: 120px;
  }
  
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html{
    font-size: 65.5%;
  }
  
  body{
    width: var(--max-width-display);
    min-width: 200px;
    font-size: 1.4rem; /*equivale a 12px*/
    /* background-image: url('./img/fondo.jpg'); */
  }
  
  
  /************ header *****/
  header{    
    background-color: cadetblue;
  }
  
  .cont-header{
    display: flex;
    flex-wrap: nowrap;
    
  }
  
  header img{
    width: var(--size-div-header);
  }
  
  header h1{
    width: 83%;
    line-height: var(--size-div-header);
    margin: auto 0 auto auto;
    font-size: 3rem;
  }
  
  .lista{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    background-color: rgb(48, 40, 40);
    line-height: 3rem;
    font-size: 1.3rem;
  }
  
  .lista li{
    display: inline;
  }
  
  .lista a{
    text-decoration: none;
    color: white;
    width: 100%;
    padding: 4px 30%;
  }
  
  .lista a:hover{
    background-color: rgb(129, 126, 126);
  }
  
  .activo{
    background-color: rgb(143, 140, 140);
  }
  
  
  footer{
    height: 150px;
    background-color: black;
    color:rgb(173, 173, 173);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .culumna{
    border: 1px solid black;
    padding: 10px 0 0 0;
    box-sizing: border-box;
  }
  
  .lista-footer{
    font-weight: 100;
    list-style: none;
    padding: 0;
  }
  
  footer a{
    width: 100%;
    text-decoration: none;
    color:rgb(173, 173, 173);
    display: block;
  }
  
  i{
    width: 10%;
    padding-right: 30px;
  }
  
  .icons{
    width: 15%;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: 500px){
    header h1{
      font-size: 4rem;
    }
  }
  
  @media (min-width: 900px){
    header h1{
      font-size: 5rem;
    }
  }

  /****************HOME*******************/

.contenido{
    margin: 0 auto;
 
}

.slider{
    height: 350px;
    max-height: 400px;
    overflow: hidden;
    margin-bottom: 5%;
}

.slider img{
    width: 100%;
}

.slider ul{
    list-style: none;
    display: flex;
    width: 300%;
    animation: cambio 5s infinite steps(1);
}

.slider li{
    width: 100%;
}

.slider .imagen-destacado{
    width: 100%;
    height: 400px;
    background-color: blue;
}

article{
    margin: 10px;
    width: 90%;
    display: flex;
    color: black;
    box-sizing: border-box;

}

article div{
    display: inline-block;
}

article:nth-child(2),
article:nth-child(3){
    margin-left: auto;
    margin-right: auto;
}

article:nth-child(2) img{
    width: 50%;
}

article:nth-child(3) img{
    width: 23%;
    margin-left: auto;
}

article:nth-child(2) div{
    margin-left: 30px;
    text-align: r;
}

.art-2 img{
    float: left;
    margin-right: 20px;
}

article:nth-child(3) div{
    padding: 25px 0;
}

article:last-child{
    position: relative;
    width: 100%;
    margin-left: 0;
    padding: 0;
}

article:last-child img{
    width: 100%;
    margin-left: auto;
    opacity: 0.8;
    overflow: hidden;
    height: 100%;
}

article:last-child div{
    position: absolute;
    color: black;
    left: 35%;
    width: 60%;
    padding: 2%;
    text-align: center;
}

article:first-child{
    margin: 0 auto 4% auto;
    border: none;
    width: 90%;
    text-align: center;
}

article:first-child div{
    width: 100%;
}

.art-4{
    height: 200px;
    overflow: hidden;
}

.art-4 img{
    width: 100%;
}

.art-4 p{
    position: absolute;
    width: 63%;
    left: 33%;
    margin-left: 10px;
    text-align: center;
    top: 13%;
}

h2{
    font-size: 1.6em;
    margin-bottom: 10px;
    font-weight: bold;
}


@keyframes cambio {
	0% {margin-left: 0;}
	16% {margin-left: 0;}

    33% {margin-left: -100%;}
	50% {margin-left: -100%;}

    66% {margin-left: -200%;}
	83% {margin-left: -200%;}
}



@media (min-width: 500px){
    h2{
        font-size: 3rem;
    }
}

  /************PRODUCTOS****************/

  .items{
    width: 80%;   
    margin: 0 auto; 
    /* padding-top: 30px; */
    /* position: relative; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item{
    width: 15vw;
    height: 15vw; 
    overflow: hidden;
    text-align: center;
    margin-bottom: 1vw;
    display: inline-block;
    padding: 1rem;
    border-radius: 40px;
}

.items img{
    width: 80%;
    margin-top: 1%;
    /* margin-bottom: 1%; */
}

.modelo{
    font-weight: 700;
    font-size: 1.3rem;
    display: block;
    width: 100%;
}

.img-item{
    height: 20%;
}

.item{
    border: 1px solid black;
}

.detalle h2, .detalle p{
    font-size: 1.2rem;
}

.botones{
    text-align: center;
    font-size: 1.2rem;
}

.boton-producto i{
    padding: 0;
}

.btn-prod{
    width: 100%;
    text-align: center;
}

.boton i{
    margin-left: 5%;
}

.btn-agregar{
    width: 100%;
    padding: 0;
    font-size: 1.2rem;
}

.boton{
    display: block;
    margin: auto;
    padding-left: 2%;
    width: 10%;
    text-decoration: none;
    color: #333;
    border: 1px solid rgb(119, 189, 134);
    border-radius: 5px;
    background-color: rgb(119, 189, 134);
}

.botones a{
    color: #333;
    font-weight: 100;
    padding: 0;
}

.detalle{
    position: relative;
    bottom: 95%;
    padding: 1rem;
    width: 90%;
}

/*transicion de como se mueve la imagen a poner cursor*/
.item img, .modelo{
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
 }

 .item .detalle {
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
 }

 .item h2 {
    background: transparent;
    border-bottom: 1px solid gray;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    color: #333;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
 }


 .item p {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
 }

 /*cuando pongo cursor hace transicion de imagen*/
 .item:hover img,
 .item:hover .modelo {
    -webkit-transform: scale(10);
    -moz-transform: scale(10);
    -o-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
 }
 .item:hover .detalle {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
 }

 .item:hover h2,.item:hover p,.item:hover a.info {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
 }

 .item:hover{
    background-color: rgbA(236, 238, 210, 0.3);
 }

 /***************SERVICIOS****************/

 .encabezado{
    width: 100%;
    height: 12%;
    overflow: hidden;
    display: flex;
}

.encabezado img{
    transform: scaleX(-1.5);
    width: 50%;
}

.encabezado h2{
    font-size: 1.3em;
    width: 40%;
    margin-left: auto;
    margin-right: 20px;
    padding-top: 30px;
    text-align: right;
}

.tareas{
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
}

.tareas div{
    margin-bottom: 5%;
}

.tareas h3{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1%;
}

.venta h3, .alquilar h3, .reparar h3{
    font-size: 2rem;
}

@media (min-width: 500px){
    .encabezado h2{
        font-size: 1.8em;
    }

    .venta h3, .alquilar h3, .reparar h3{
        font-size: 2.5rem;
    }
}

@media (min-width: 800px){ 
    .encabezado h2{
        font-size: 2.5em;
    }
}

 /***************NOSOTROS*****************/

 .presentacion{
    text-align: center;
    margin-bottom: 5vw;
    position: relative;
    z-index: 1;
    background-image: url("../../../../public/img/pizarron.jpg");
    border-bottom: 2vw solid transparent;
    border-image:url("../../../../public/img/marco.jpg") 30 30 repeat;
    height: 30vw;
}

.presen-h2{
    width: 40vw;
    height: 25vw;
    color: #fff;
    font-size: 1em;
    position: absolute;
    bottom: 1vw;
    margin-left: 1vw;
    text-align: left;
}

.presentacion img{
    width: 60vw;
    
}

.personal{
    width: 95%;
    margin: 0 auto;
}

.personas{
    width: 100%;
    margin-bottom: 5%;
    display: flex;
    position: relative;
}

.personas img{
    max-width: 55%;
}

.descrip{
    box-sizing: border-box;
    width: 50%;
    margin-top: auto auto;
    margin: auto auto;
    padding: 0.5%;
    background-image: url("../../../../public/img/pizarron.jpg");
    border: 2vw solid transparent;
    border-image:url("../../../../public/img/marco.jpg") 30 30 repeat;
    font-size: 0.5em;
}

.uno, .dos, .tres{
    width: 100%;
    box-shadow: 0px 10px 10px -6px black ;
    background-color: rgb(194, 216, 219);
}

.descrip h3{
    text-align: center;
}

.descrip h4{
    margin-bottom: 5px;
}

.personas.uno .descrip{
    width: 65%;
    /* height: 65%; */
    left: 32%;
    bottom: 36%;
    position: absolute;
}

.personas.dos img{
    margin-left: auto;
}

.personas.dos .descrip{
    width: 75%;
    height: 81.5%;
    right: 27%;
    bottom: 0%;
    position: absolute;
}

.personas.tres .descrip{
    width: 100%;
    height: 90%;
    position: absolute;
}

.personas.tres h3{
    padding-left: 24%;
}

.personas.tres img{
    margin-left: auto;
    z-index: 1;
}
.personas.tres p, h4{
    width: 60%;
}

.descrip:last-child p{
    margin-bottom: 10px;
}

.descrip i{
    /* font-size: 1.5em; */
    margin-right: 20px;
}

.descrip span{
    margin-left: 5px;
}

.descrip h3, h4{
    text-transform: uppercase;
}

@media (min-width: 650px){

   .personas{
       width: 80%;
   }

   .dos, .tres{
       margin-left: 15%;
   }

   .uno{
       margin-left: 5%;
   }
}
  

 /***************CONTACTO*****************/


 form{
    width: 98%;
    margin: 6% auto;
}

form label{
    width: 30%;
    display: inline-block;
    box-sizing: border-box;
    padding-right: 15px;
    vertical-align: top;
}

form p input, select{
    width: 60%;
}

form p{
    width: 50%;
    display: inline-block;
    margin-bottom: 3%;
}

.datos p:nth-child(3),
.datos p:nth-child(5){
    float: right;
}

.datos p:nth-child(3) input,
.datos p:nth-child(5) input{
    float: right;
}

.motivo p:nth-child(3),
.motivo p:nth-child(4){
    display: inline-block;
}

.motivo p:nth-child(4){
    float: right;
}

.motivo p:nth-child(3) input,
.motivo p:nth-child(4) input{
    float: right;
}

.motivo p:last-child label{ 
    width: 15%;
    padding: 0;
}

.motivo p:last-child{
    width: 100%;
}

form textarea{
    width: 100%;
    /* resize: none; */
}

fieldset{
    margin-bottom: 4%;
}

.campo-ppal{
    padding: 3%;
    border: 2px solid black;
}

.campo-ppal legend{
    font-size: 1.3em;
}

/* input[type="submit"]{
    width: 70px;
    margin-left: auto;
    cursor: pointer;
    display: block;
} */

@media (min-width: 500px){  
    .presen-h2{
        font-size: 2em;
    }
  
    .descrip{
        font-size: 0.8em;
    }
  
    form{
        width: 90%;
    }
  
    form textarea{
        width: 100%;
        resize: none;
    }
  }
  
  @media (min-width: 800px){ 
    .presen-h2{
        font-size: 2.8em;
    }
  
    .descrip{
        font-size: 1em;
    }
  
    .descrip h3{
        font-size: 1.3em;
    }
  
    .descrip h4{
        font-size: 1.1em;
    }
  
    form{
        width: 60%;
    }
  }
/*   
  input[type="submit"]{
    width: 10%;
    margin-left: auto;
    cursor: pointer;
    display: block;
    margin-left: auto;
    background-color: black;
} */

.error-usuario{
    color: rgb(233, 10, 10);
}

.nuevo-prod{
    font-size: 1.2rem;
}

.error{
    color: red;
}