<div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo omnis dicta eveniet soluta ullam nulla, ea veritatis repellat tempora in cum. Sunt a illo tempore dolorum cum totam veritatis beatae!</p>
</div>