*{
    box-sizing: border-box;
}

html{
    margin: 20px;
    background-color: grey;
}
body{    
    background-color: lightcyan;    
}


.header h1{
    font-size: 50px;
    text-decoration: underline;
    text-transform: uppercase;          
    text-align: center;
    padding: 30px;
    background-color: lightgray;
}

.header img{
    float: right;
    margin-right: 10px;
    border: 2px solid grey;
    
}

.navigator{    
    text-align: center;
    margin-top: 50px;  
}


.navegador-list li{    
    display: inline;
    padding: 0px 60px;
    text-align: center;
}

.navegador-list a{    
    text-decoration: none;
    position: inherit;
    border: 2px solid lightgray;
    border-radius: 5px;
    padding: 2px 4px;
}

.main{
    padding: 0px 10px 10px 15px;
    margin-top: 50px;
}

h2{
    background-color: lightgrey;
}