<html>

  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <header>
      <div className="contenedor cont-header">
        <img src="img/logo.png" alt="logotipo" />
        <h1>Duplicados</h1>
      </div>
    </header>
    <nav>
      <ul class="lista">
        <li><a href="" class="activo">Home</a></li>
        <li><a href="admin/productos">Productos</a></li>
        <li><a href="servicios">Servicios</a></li>
        <li><a href="nosotros">Nosotros</a></li>
        <li><a href="contacto">Contacto</a></li>
      </ul>
    </nav>
    
    {{{body}}}

    <footer>
      <div className="culumna icons">
        <a href="#">Ir a arriba</a>
        <i className="fab fa-instagram"></i>
        <i className="fab fa-facebook-square"></i>
        <i className="fab fa-whatsapp"></i>
      </div>
      <div className="culumna">
        <h3>Titulo</h3>
        <ul className="lista-footer">
          <li>Asesorate</li>
          <li>Empleo</li>
          <li>Servicio tecnico</li>
        </ul>
      </div>
      <div className="culumna">
        <h3>Titulo</h3>
        <ul className="lista-footer">
          <li>Asesorate</li>
          <li>Suministros</li>
          <li>Empleo</li>
          <li>Servicio tecnico</li>
        </ul>
      </div>
      <div className="culumna">
        <h3>Titulo</h3>
        <ul className="lista-footer">
          <li>Asesorate</li>
          <li>Suministros</li>
        </ul>
      </div>
    </footer>
  </body>

</html>