/* Selectores */

/* selector universal */
*{
    background-color: lightcoral;
}

/* selector de etiqueta */
h1{
    background-color: lightslategray;
}

li{
    display: inline-block;
}

/* selector id, no es recomendable dar estilos con Id*/
#title{
    background-color: lightsteelblue;
}

/*Selector de clase*/
.titleClase{
    background-color: lightyellow;
}

/*Selector de clase*/
.text{
    background-color: lightsalmon;
}

/* selector otros 
en este caso todos los atributos de href se colorean

puedo utilizar atributo=valor

puedo utilizar comprobacion de valor. atibuto^="valor". pregunta que si comienza con ese valor aplique los cambios

puedo utilizar atributo*=valor. hace que se apliquen los cambios independientemente de donde este el valor especificado. (el anterior con ^ es si comienza con ese valor, este con * es si lo contiene)

puedo utilizar atributo$=valor. se aplican los cambios si el valor de href termina con lo indicado

puedo utilizar atributo|=valor. se aplican los cambios si el idioma es el indicado

*/
[href]{ /*aplica los cambios a los atributos href*/
    background-color: brown;
}

[href="#item-2"]{ /*si href es igual al valor aplica los cambios*/
    background-color: chartreuse;
}

[href^="i"]{  /*si href comineza con # aplica los cambios, en el html cominezxa por i, mirarlo*/
    background-color: cyan;
}

[href*="k"]{  /*si el valor de href contiene la K aplica los cambios*/
    background-color: red;
}

[href$="5"]{  /*si el valor de href termina con 4 aplica los cambios*/
    background-color: yellow;
}

[lang|="en"]{  /*si el idioma es english se aplican cambios*/
    background-color: green;
}


/* SELECTORES COMPUESTOS*/
/* selector agrupado
se puede cargar todas los elementos separados por comas */
.text-1, .text-2, .text-3{
    background-color: blue;
}

/* selectores combinadores 
selector descendiente*/
div .title-2{ /* el title-2 se denomina hijo del div*/
    background-color: teal;
}

/* selectores combinadores 
selector de hermano (nos permite seleccionar el elemento siguiente, los hermoanos son los elementos que estan en el mismo nivel de sangria)*/
.textoHermano-1 + .textoHermano-2{ /*podemos colocar la etiqueta o como clase, etc. osea podria poner en vez de textoHermano-1 su etiqueta <p>*/
    background-color: black;
    /*cave destacar que seleccionamos el hermano inmeditamente despues, solo ese. no podemos hacer saltos*/
}


/* selectores combinadores 
selector de hermanos siguientes*/
.h3-hermano-siguiente ~ p{ /*dice que se seleccionen todos los hermanos siguientes a h3 que sean <p>*/
    background-color: red;
}

/* selectores combinadores 
selector de hijo directo*/
.container > p{
    background-color: yellow;
    /* selecciona los p dentro de la clase containar, pero no todos los p, si no los hijos directos. vemos que hay otro p mas, pero esta dentro de otro div, por lo tanto seria como nieto, por ende no lo selecciopna */
}